body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url('bg2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
}

header {
    background-image: url('ph1.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 3em;
    position: relative;
    height: 250px;
}

h1 {
    color: whitesmoke;
    margin-top: 100px;
    text-shadow:
      3px 3px 2px #000,
      -3px 3px 2px #000,
      -3px -3px 0 #000,
      3px -3px 0 #000;
}


h2 {
    color: #333;
    margin-top: 20px;
}

section {
    margin: 40px 20px;
    text-align: justify;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd; 
}
h3,h4 {
    text-decoration: underline;
    color: #555;
}

img {
    float: right;
    margin-left: 20px;
}

#spanish-era img {
    width: 500px;
}

#japanese-era img {
    width: 500px;

}

.post img{
    width: 500px;
}

.martial img {
    width: 240px;
}

p {
    margin-bottom: 15px;
    color: #555;
}

footer {
    background-color: rgba(255, 255, 255, 0.9);
    color: #fff;
    padding:20px;
    text-align: center;
}

footer h2{
    border-bottom: 2px solid #333;
    color: #333;
}

#references, #creator-info{
    margin-bottom: 0px;
}

#references p, #creator-info p{
    margin: 10px 0;
    color: #333;
    text-align: justify;
}

#social-media {
    margin-top: 20px;
}

.social-icon {
    display: inline-block;
    margin-right: 10px;
}

.social-icon img {
    width: 40px;
}