body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-image: url('ph.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: relative;
    height: 200px;
    
}



h1{
    color: black;
    -webkit-text-fill-color: white; 
    -webkit-text-stroke: 1px black;
    margin-top: 70px;
    text-shadow:
      3px 3px 2px #000,
      -3px 3px 2px #000,
      -3px -3px 0 #000,
      3px -3px 0 #000;
} 


h2 {
    color: #333;
}

section {
    margin: 20px;
    text-align: justify;
    overflow: auto;
}

img {
    float: right;
    margin-left: 20px;
}

p {
    margin-bottom: 15px;
}

/* Add more styling as needed */
