
html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(#f8f8f8, #e0e0e0);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-image: url('bg2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
    cursor: url('cursor1.png'),auto;
}


header {
    background-image: url('ph1.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 3em;
    position: relative;
    height: 250px;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#scrollToTopBtn:hover {
    background-color: #
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: whitesmoke;
    margin-top: 85px;
    text-shadow:
      3px 3px 2px #000,
      -3px 3px 2px #000,
      -3px -3px 0 #000,
      3px -3px 0 #000;
}


nav {
    display: flex;
    justify-content: center; /* Center the navigation links */
    background-color: #444; /* Adjust background color as needed */
    padding: 10px;
    position: sticky;
    top: 0;
    background-color: #333;
    z-index: 100;
}

.scroll-reveal {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.scroll-reveal.revealed {
    opacity: 1;
    transform: translateY(0);
}

.menu-icon {
    display: none;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
}

section {
    margin: 40px 20px;
    text-align: justify;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd; 
}

h3,h4 {
    text-decoration: underline;
    color: #555;
}

img {
    float: right;
    margin-left: 20px;
    transition: opacity 0.3s ease-in-out;
    border-radius: 30px;
}

img:hover {
    opacity: 0.8;
}

#spanish-era img {
    width: 500px;
}

#japanese-era img {
    width: 500px;
}

.post img{
    width: 500px;
}

.martial img {
    width: 240px;
}

p {
    margin-bottom: 15px;
    color: #555;
}

footer {
    background-color: rgba(255, 255, 255, 0.9);
    color: #fff;
    padding:20px;
    text-align: center;
}

footer h2{
    border-bottom: 2px solid #333;
    color: #333;
}

#references, #creator-info{
    margin-bottom: 0px;
}

#references p, #creator-info p{
    margin: 10px 0;
    color: #333;
    text-align: justify;
}

#social-media {
    margin-top: 20px;
}

.social-icon {
    display: inline-block;
    margin-right: 10px;
}

.social-icon img {
    width: 40px;
}

